/* UI Grid Customisation Start */

.custom-qa-size {
    font-size: 1.4em !important;
}

.ui-grid-header-cell-row .ui-grid-header-cell {
    background: #fff;
    margin: 0px;
}

.ui-grid-cell-contents {
    line-height: 1.42857143;
    padding: 11px;
}

.ui-grid-cell {
    border-bottom: 1px solid;
    border-color: #d4d4d4;
}

.ui-grid-column-menu-button {
    position: absolute;
    right: 7px;
    top: 8px;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #CCC;
}

.pagination li {
    cursor: pointer; cursor: hand; 
}

.tab-v1 li a {
    cursor: pointer; cursor: hand; 
}

.ui-btn-holder {
    margin: 2px 2px;
}

/* UI Grid Customisation End */

.odd_even {
    border-left:1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}
.odd_even .row div {
    border-bottom: 1px solid #aaa;
    padding: 10px;
}
.odd_even .row :nth-child(even){
  background-color: #fafafa;
  border-left: 1px solid #ccc;
}   
.odd_even .row :nth-child(odd){
  background-color: #fefefe;
}